/*
Theme Name: PhoneTag
*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext,vietnamese');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&subset=devanagari,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&subset=latin-ext,vietnamese');
a,.login-content .btn,.left-col .add-folder i.fa,.mobile-view .table-view .controls{ color:#2dc6d6; -webkit-transition:all .1s ease-in-out;-moz-transition:all .1s ease-in-out;-ms-transition:all .1s ease-in-out;-o-transition:all .1s ease-in-out;transition:all .1s ease-in-out;}
a:hover,a:focus,.print:hover i.fa{ color:#2dc6d6; text-decoration:none;  }
ul{ margin:0px; padding:0px;}
li{ list-style:none;  }
.custon-btn{outline:none; border:none; border-radius:6px; color:#ffffff; font-size:12px; background-color:#2dc6d6; padding:7px 13px; font-weight:500; font-family: 'Poppins', sans-serif;  }
.custon-btn:hover,.custon-btn:focus,.custon-btn:active,.custon-btn.cancel:hover,.custon-btn.delete:hover{ background-color:#17242b;outline:none !important; border:none !important; color:#fff;  }
.custom-control{ background-color:#f4f4f4; outline:none; border:none;  box-shadow:none; height:27px; border-radius:5px; -moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none; -webkit-appearance: none;-moz-appearance: none;  }
.custom-control:focus{ box-shadow:none; }
.control-label.custom-label{font-size:11px;font-family: 'Poppins', sans-serif;font-weight:600;color:#808080;padding:0px;line-height:27px;float: left;width: 97px; padding-left:30px;}
.width{ width:auto !important; }
hr{ border-color:#d5d5d5; width:100%;float:left;}
.hrgap{ margin:20px 0 30px;}
.custom-col{width: 22.3%;}
.padd-top{ margin-top:15px;}
.control-label.custom-label.width2{ width:40px;}
body{ background-color:#f4f4f4; line-height:normal;}
#wrapper{display: flex;min-height: 100vh;flex-direction: column;}
.container{ width:1102px; position:relative;}
#header .container,#footer .container{ padding:0 57px; }
.lineheight{ line-height:32px !important; }
/****Header****/

#header{background-color:#1c252c;padding:30px 0;height: 100px;}
#logo{ float:left;}
.usermenu{ float:right; }
.menu-btn{position:absolute;top: 9px;right: 36px;cursor:pointer;width:24px;height: 15px;padding:0;outline:none;border:none;background-color:transparent;display:none;background:url(images/menu-icon.png);background-repeat:no-repeat;}
.menu-btn.show{background-position: 0 -18px;height: 19px;top: 4px;}


.usermenu .dropdown-menu{ left:auto; right:0; padding:0;border:none;border-radius:0;}
.header-right{ width:610px; float:right;  }
.info-menu{ float:left;}
.info-menu li{ text-align:center; margin-right:45px; }
.info-menu li a { display:inline-block; }
.info-menu li span{display:inline-block;  background-repeat:no-repeat; margin-bottom:7px;}
.info-menu li p{ margin:0px; }
.info-menu li.message a span{ background-image:url(images/envelope.png);width:40px;height:29px;}
.info-menu li.message a:hover span,.info-menu li.active.message span { background-position:0 -32px }
.info-menu li.setting a span{background-image:url(images/setting.png);width: 40px;height:30px;}
.info-menu li.setting a:hover span,.info-menu li.active.setting span {background-position: 1px -34px;}
.info-menu li.contact a span{background-image:url(images/contact.png);width: 30px;height: 32px;}
.info-menu li.contact a:hover span,.info-menu li.active.contact span {background-position: 0px -33px;}
.menu{margin-top: 12px;}
.first-menu{ float:right; }
.second-menu{  display:none;}
.menu ul li,.info-menu li{ float:left; font-size:12px; font-family: 'Poppins', sans-serif; font-weight:500; position:relative;   }
.menu ul li{padding-right:10px;  margin-right:10px; }
.menu ul li:after{ content:""; position:absolute; top:2px;right:0px; width:1px;height:13px; background-color:#fff;}
.menu ul li:last-child:after{display:none; padding:0px; margin:0px; }
.menu ul li:last-child{padding:0px; margin:0px; }
.menu ul li a,.info-menu li a{ color:#fff;}
.menu ul li a:hover,.info-menu li a:hover,.info-menu li.active a{color:#2dc6d6;}
/****Header End****/
#content{flex: 1; width:1057px;  margin:auto; background-color:#fff;  }
 
/***Login Content***/
.login-content{ width:606px; margin:auto; padding-top:70px; padding-bottom:125px;  }
.title{ font-size:26px; border-bottom:#d1d1d1 solid 1px; padding-bottom:0px; font-family: 'Montserrat', sans-serif; font-weight:bold; padding-bottom:14px; margin-bottom:26px;  }
.title span{ margin-right:25px;}
.logged-out{ color:#db28a5; font-size:11px; border:#db28a5 solid 2px; width:454px; height:41px; display:inline-block; text-align:center; line-height:41px; font-family: 'Poppins', sans-serif; }
.logged-out:hover,.logged-out:focus{ background-color:#db28a5; color:#fff; }
.login-content .form-control{background-color:#f4f4f4;outline:none;border:none;height: 27px;color:#808080; font-size:11px; font-family: 'Poppins', sans-serif; font-weight:400; -moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none; -webkit-appearance: none;-moz-appearance: none;  }
.login-content .control-label{color:#808080;font-size:11px;font-family: 'Poppins', sans-serif;font-weight:600;padding-right: 0;padding: 0;line-height: 29px;}
.login-content .form-group{ margin-bottom:10px;}
.login-content .voicemail{ color:#808080; font-size:12px; font-weight:600; font-family: 'Poppins', sans-serif; }
.login-content .form-horizontal{padding: 0 50px;}
.login-content .btn{outline:none;border:none;background-color:#2dc6d6;color:#fff;font-size:12px;font-family: 'Poppins', sans-serif;font-weight:500;padding: 8px 15px; border-radius:5px; margin-right:4px;  }
.login-content .btn:focus,.login-content .btn:hover,.login-content .btn.pin-btn:hover,.login-content .btn.pin-btn:focus{background-color:#1c252c; color:#fff; box-shadow:none; outline:none;  }
.login-content .btn.pin-btn{ background-color:#909090; }
.login-content .form-control::-webkit-input-placeholder,.custom-control::-webkit-input-placeholder { color:transparent; }
.login-content .form-control:-moz-placeholde,.custom-control::-moz-input-placeholder { color:transparent; }
.login-content .form-control:-ms-input-placeholder,.custom-control::-ms-input-placeholder { color:transparent; }
 /***Login Content End***/
 
/***Side Buttons***/
.side-btns{position: fixed;top: 245px;right: -68px;-webkit-transform: rotate(-90deg);-moz-transform: rotate(-90deg);-ms-transform: rotate(-90deg);-o-transform: rotate(-90deg);}
.side-btns a{width:73px;height:31px;float:left;color:#fff;text-align:center;line-height:31px;margin-right: 5px;border-top-left-radius:5px;border-top-right-radius:5px;font-size:12px;font-family: 'Poppins', sans-serif;}
.support-btn{ background-color:#2dc6d6;  }
.side-btns a.feedback-btn{background-color:#17242b;width: 83px;}
/***Side Buttons End***/
 
/***Footer***/
#footer{ background-color:#1c252c; padding:65px 0;  }
#footer .ftr-content{ padding-top:30px;  }
#footer p{color:#2dc6d6; font-size:10px; line-height:18px; margin-bottom:0; font-family: 'Source Sans Pro', sans-serif; font-weight:300;}

/***Footer End***/

.logged-out,.usermenu{ display:none;}

.inside-content{padding: 57px 57px 30px 57px;width: 100%;float: left;box-sizing: border-box; position:relative;}
.left-col{ width:161px; float:left;}
.left-col .message{background-color:#f4f4f4; padding:25px 16px 15px; border-radius:10px;} 
.left-col .message h6{  color:#1c252c; font-size:14px; font-family: 'Montserrat', sans-serif; font-weight:bold; margin:0px 0 15px; } 
.left-col .message ul li{ border-bottom:#d5d5d5 solid 1px; padding-bottom:7px; margin-bottom:10px;font-family: 'Poppins', sans-serif; font-weight:600; } 
.left-col .message ul li a{ color:#808080; font-size:12px; }
.left-col .message ul li a i.fa{ font-size:22px; margin-right:8px; float:left; margin-top:0px;} 
.left-col .message a:hover,.left-col .message ul li.active a,.left-col .add-folder:hover span:before{ color:#2dc6d6;}
.left-col .message ul li.select a{ color:#db28a5;}
.left-col .add-folder{color:#808080;font-family: 'Poppins', sans-serif; font-weight:600; font-size:12px;}
.left-col .add-folder span{ position:relative; }
.left-col .add-folder span:before{content: "\f067";font: normal normal normal 14px/1 FontAwesome;color: #b4b4b4;font-size: 12px; margin-right:5px;  }
.left-col .add-folder i.fa{ margin-right:5px; color:#b4b4b4; }
.account-settings.message ul li:last-child{ border:none; margin:0px; padding:0px;}


.right-col{ width:161px; float:left;}

.right-col{ width:770px; float:right; position:relative;   }
.title2{ color:#1c252c; font-size:26px; font-family: 'Montserrat', sans-serif; font-weight:bold; margin:0px; margin-bottom:8px; }
.right-col .custon-btn{float:left;margin-right:3px;height: 31px;line-height: 19px;}
.inbox-table{display:block;}
.inbox-table table{border-collapse:separate; border-spacing:0 5px;}
.inbox-table table,.inbox-table table tr,.inbox-table table td{border-collapse:separate;border-spacing:0px 4px; color:#808080;font-family: 'Poppins', sans-serif;font-size:10px; color:#808080; font-weight:500; }
.inbox-table table thead td{ background-color:#17242b; color:#fff; padding:10px 10px; font-family: 'Montserrat', sans-serif; font-weight:500;  } 
.inbox-table table td:first-child{ border-top-left-radius:6px; border-bottom-left-radius:6px; }
.inbox-table table td:last-child{ border-top-right-radius:6px; border-bottom-right-radius:6px; }
.inbox-table .message-text{line-height: 11px;text-align: left;width: 176px;position: relative;}
.inbox-table .message-text .fa{position: absolute;bottom: -10px;right: 0px;color: #b4b4b4; font-size:15px; cursor:pointer; }
.inbox-table .message-text .fa:hover{ color:#2dc6d6;}
.inbox-table tbody tr td{padding: 12px 8px;position:relative;}
.inbox-table tbody tr td:last-child{ border:none;}
.inbox-table tbody tr td{ background-color:#f4f4f4; }
.inbox-table tbody tr:nth-child(even) td{background-color:#fff;  }
.inbox-table tbody tr td:after,.mobile-view .table-view tr td:after{content:"";width:1px;height: 65%;background-color:#d5d5d5;position:absolute;right:0px;top: 16%;}
.inbox-table tbody tr td:last-child:after,.mobile-view .table-view tr td:last-child:after{ display:none;}
.inbox-table tr.select td,.inbox-table tbody tr:nth-child(even).select td{ background-color:#d5f4f7;   }
.checkcol{width: 26px;}
.date{width: 81px;}
.from{width: 76px;}
.audio{width: 107px;}
.duration{width: 45px;}
.right-col .help{position:absolute;top: -10px;right:0px;font-size:20px;}
.right-col .help a{ color:#b4b4b4;   }
input[type=checkbox].css-checkbox{position:absolute;z-index:-1000;left:-1000px;overflow:hidden;clip:rect(0 0 0 0);height:1px;width:1px;margin:-1px;padding:0;border:0}
input[type=checkbox].css-checkbox+label.css-label{display:inline-block;background-repeat:no-repeat;cursor:pointer;width: 23px;height: 23px;}
input[type=checkbox].css-checkbox:checked+label.css-label{background-position: 0 -23px;   }
label.css-label{background-image:url(images/checkbox.png);-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none; margin:0px;}
.action-col{ }
.action-col span a{background:url(images/icons.png) no-repeat;transition:none;float:left;margin-right: 7px;}
.action-col span:last-child a{margin-right:0px;}
.action-col .delete a{ width:15px; height:23px;}
.action-col .delete a:hover{ background-position:0px -21px; }
.action-col .download a{width:12px;height:16px;background-position: -25px -4px;margin-top: 4px;}
.action-col .download a:hover{background-position: -25px -23px;}
.action-col .save a{width:12px;height:16px;background-position: -48px -5px;margin-top: 4px;}
.action-col .save a:hover{background-position: -48px -23px;}
.action-col .markasunread a{width:19px;height:15px;background-position:-72px -6px;margin-top: 5px;}
.action-col .markasunread a:hover{background-position: -73px -25px;}
.action-col .markasread a{width:21px;height:21px;background-position: -103px -1px;margin-top: 1px;}
.action-col .markasread a:hover{background-position: -103px -23px;}
.action-col .addtocontact a{width:17px;height:17px;background-position: -135px -4px;margin-top:4px;}
.action-col .addtocontact a:hover{background-position: -135px -24px;}
  
.inbox-pagination{font-size:10px;font-family: 'Poppins', sans-serif;padding: 15px 0 0px;} 
.pagination-in{ float:right; }
.pagination-in .number{  padding:0 10px; float:left; line-height:24px; color:#303e48; }
.pagination-in a.prev{ float:left;}
.pagination-in a.next{ float:right;}
.pagination-in a.prev,.pagination-in a.next{ color:#c1c1c1;  font-size:15px;  }
.pagination-in a.prev:hover,.pagination-in a.next:hover{ color:#1c252c;}

.mobile-title{ display:none; }

.mobile-view{ display:none; padding-top:5px;}
.mobile-view .table-view{ color:#808080; font-size:16px; font-weight:500; font-family: 'Poppins', sans-serif; }
.mobile-view .table-view .controls{  width:30px; height:30px; background-color:#b4b4b4; background-image:url(images/plus.png); background-repeat:no-repeat;  border-radius:50%; display:inline-block; color:#fff; text-align:center; line-height:30px;}
.inbox-tab .panel-default>.panel-heading a[aria-expanded="true"].controls{background-color:#db28a5; background-image:url(images/close.png); opacity:1; float:none;}
.mobile-view input[type=checkbox].css-checkbox+label.css-label{ width:32px; height:32px;   }
.mobile-view label.css-label{background-image: url(images/checkbox-m.png);  }  
.mobile-view .checkcol{ width:32px; }
.mobile-view input[type=checkbox].css-checkbox:checked+label.css-label {background-position: 0 -33px;}
.mobile-view .table-view{ }
.mobile-view .table-view tr td{ background-color:#f4f4f4; padding:10px 15px; position:relative; }
.mobile-view .table-view tr td:first-child{ padding-left:35px; }
.mobile-view .table-view tr td:last-child{  padding-right:35px;}
.mobile-view .table-view tr:nth-child(even) td{  background-color:#fff; }
.mobile-row{ border-top:#d5d5d5 solid 1px;  padding:12px 0; margin-left:35px; margin-right:35px; }
.mobile-row p{margin:0px;color:#808080;font-size:16px;font-weight:500;font-family: 'Poppins', sans-serif;}
.mobile-row span{color:#1c252c;font-weight:bold;vertical-align: top;}
.mobile-row .action-col{width: 203px;clear: both;padding-top:15px;}
.mobile-row .action-col span{display: inline-block;margin-left: 0;}
.mobile-row .action-col span a{background: url(images/icons-m.png) no-repeat; }
.mobile-row .action-col .delete a{width:28px;height:36px;background-position: -25px 0px;}
.mobile-row .action-col .delete a:hover{background-position: -53px 0px;}
.mobile-row .action-col .download a{width:28px;height:36px;background-position: -103px 0px;}
.mobile-row .action-col .download a:hover{background-position: -131px 0px;}
.mobile-row .action-col .save a{width:28px;height:36px;background-position: -180px 0px;}
.mobile-row .action-col .save a:hover{background-position: -209px 0px;}
.mobile-row .action-col .markasunread a{width: 40px;height:36px;background-position: 0px -49px;}
.mobile-row .action-col .markasunread a:hover{background-position: -42px -49px;}
.mobile-row .action-col .markasread a{width: 45px;height: 44px;background-position: -87px -42px;}
.mobile-row .action-col .markasread a:hover{background-position: -132px -42px;}
.mobile-row .action-col .addtocontact a{width: 38px;height: 43px;background-position: -179px -41px;}
.mobile-row .action-col .addtocontact a:hover{background-position: -217px -41px;}
.mobile-row .action-col .delete{margin-right: 40px;margin-left: 6px; margin-bottom: 25px;}
.mobile-row .action-col .download{margin-right: 40px; margin-bottom: 25px;}
.mobile-row .action-col .save{ margin-bottom: 25px;}
.mobile-row .action-col .markasunread{margin-right: 23px;}
.mobile-row .action-col .markasread{margin-right: 30px;}
.mobile-row .action-col{  margin:auto;}
.mobile-row.last{border-bottom:#d5d5d5 solid 1px; padding-bottom:15px; }

.inbox-tab .panel-default{border-radius:0px;border:none;box-shadow: none;}
.inbox-tab .panel-default>.panel-heading{ padding:0px;}
.inbox-tab .panel-default>.panel-heading+.panel-collapse>.panel-body{border:none;box-shadow: none;}
.inbox-tab.panel-group .panel+.panel{ margin:0px; box-shadow:none; }
.inbox-tab .panel-default:nth-child(even) td{ background-color:#fff; }
 
 
.inbox-table.contacts td{ padding:12px 20px; } 
.inbox-table.contacts td .action-col a,.mobile-row .action-col a{color:#b4b4b4;font-size: 22px;margin-right: 10px;outline: none;border: none;} 
.inbox-table.contacts td .action-col a:last-child{margin:0; } 
.inbox-table.contacts td .action-col a:hover,.mobile-row .action-col a:hover{ color:#2dc6d6; }
.inbox-table.contacts td .name i.fa{ font-size:20px; color:#b4b4b4; margin-right:12px; }
.search{ float:right; width:310px;  } 
.search .search-input{width: 100%;float:left;height:22px;border:#bababa solid 1px;border-radius:22px;outline:none;background-image:url(images/search.png);background-repeat:no-repeat;background-position:5px 4px;color:#b4b4b4;font-size:10px;box-sizing:border-box;padding:0 22px;font-family: 'Poppins', sans-serif;}
.mobile-row .action-col a{font-size:50px;margin: 0 9px;} 
 
/***Custom popup***/
 
.modal-backdrop{ background-color:#fff; } 
.modal-backdrop.in{opacity: .9;}
.custom-popup .modal-dialog{ width:660px; margin:142px auto; position:relative; z-index:9999;  }
.custom-popup .modal-content{ padding:30px 24px 10px; border:none; webkit-box-shadow: 0 5px 15px rgba(93, 91, 91, 0.5);  box-shadow: 0 5px 15px rgba(93, 91, 91, 0.5); }
.custom-popup .close{font-size: 28px;opacity:1;color:#b4b4b4;outline:none;border:none;margin-top: -20px;margin-right: -7px;}
.custom-popup .modal-footer .custon-btn{padding: 8px 16px 7px;}
.custon-btn.cancel{ background-color:#c2c2c2;}
.custon-btn.delete{ background-color:#db28a5;}
.custom-popup .modal-title{ font-size:26px; border-bottom:#d1d1d1 solid 1px; font-family: 'Montserrat', sans-serif; font-weight:bold; padding-bottom:15px;  }
.custom-popup .modal-footer{ border:none; padding-left:0px; padding-right:0px; }
.custom-popup .form-group{  margin-bottom:8px;}
.custom-popup .modal-body {padding-left:0px;padding-right:0px;width: 100%;float: left;}
.custom-popup .modal-body p{ font-size:12px; font-family: 'Poppins', sans-serif;font-weight:500; color:#808080;}
.custom-popup .help{ position:absolute; top:42px; right:30px;  }
.file-input .inputfile {width: 0.1px;height: 0.1px; opacity: 0;overflow: hidden;position: absolute; z-index: -1;}
.file-input label{width:100%;height: 28px;margin: 0;font-weight: normal;text-align: left;line-height: 28px;}
.file-input strong,.file-input em{float: left;background-color: #a5a5a5;border-radius: 5px;width: 99px;height: 27px;line-height: 26px;text-align: center;color: #fff;font-size: 11px;font-weight: normal;cursor:pointer;margin-right: 22px;line-height: 29px;font-family: 'Poppins', sans-serif;font-weight: 500; font-style:normal; }
.file-input{background-color:#f4f4f4;width:338px;height:28px;color: #acacac;font-size: 11px;font-family: 'Poppins', sans-serif;font-weight:500;border-radius: 5px; margin-top:20px; }
.inbox-table.billing td{ padding:10px 25px; }
.inbox-table.billing .pdf{ color:#b4b4b4;  font-size:18px; }
.inbox-table.billing tbody td{ padding:2px 25px;}
.inbox-table.billing .date{ width:60px; }
.mobile-row .pdf{font-size:50px;color:#b4b4b4;/* margin-top: -8px; */margin-left: 10px;display: inline-block;line-height: 22px;}
.mobile-view .table-view tr td strong{ color:#1c252c; }
.print{ color:#808080; font-size:10px; line-height:30px;   }
.print i.fa{font-size:23px; color:#b4b4b4; margin-right:8px; float:left; margin-top:2px; }
.pop-col{ text-align:right;}
.pop-col p{ margin-bottom:2px;}
.custom-popup .inbox-table.billing tbody td{padding: 7px 25px;}
.custom-popup .inbox-table.billing table{ margin-bottom:10px;}
.custom-popup .modal-body.m-popup-content .pop-col{ text-align:left; margin-top:15px; }
.custom-popup .modal-body.m-popup-content p{ font-size:16px;}
.custom-popup .m-billing-row{background-color:#f4f4f4;padding:0 35px;color:#808080;font-size:16px;margin-bottom:3px;padding:5px 35px;margin-left: -40px;margin-right: -40px; font-family: 'Poppins', sans-serif;}



.custom-popup .m-billing-row strong{ font-weight:bold; color:#1c252c;}
.custom-popup .modal-body.m-popup-content{ display:none;}
.profile h2{ border-bottom:#d5d5d5 solid 1px;  padding-bottom:20px; margin-bottom:35px;}
.form-horizontal .profile-row  .form-group{margin-right:0;margin-left:0;margin-bottom: 10px;clear: both;} 
.profile-row .custom-label{padding-left:0px;width: 100px;} 
.profile-row .buttons-row{ margin-top:5px; }
.buttons-row .custon-btn{margin-right: 5px;} 
.list{ position:relative; width:145px;}
.arrow{position:absolute;top: 4px;right: 8px;}
.custom-select{background-color:#dbdbdb;font-size:11px;font-weight:600;font-family: 'Poppins', sans-serif;line-height: 18px;color:#808080;}
.profile-row{ margin-bottom:70px; }
.pink{ color:#dc2da7;  }
.error{font-size:11px;font-weight: bold;font-family: 'Poppins', sans-serif;padding-top: 6px;display: inline-block;}
.error:before{content: "\f06a";font: normal normal normal 14px/1 FontAwesome;margin-right:10px;font-size:22px;float:left;margin-top:-4px;}
.title2 span.number{ color:#2dc6d6; }
.profile-row .buttons{margin-left: 40px;margin-top: -3px;float: left;}
.profile-row .buttons a{margin-right:6px; }
.profile-row-inside{width:100%;float:left;box-sizing:border-box;padding-left: 117px;padding-top:15px;}
.profile-row-inside .checkcol{ width:auto; }
.profile-row-inside label.css-label{background-image: url(images/checkbox2.png);font-size:11px;color:#808080;font-family: 'Poppins', sans-serif;font-weight:600;padding-left: 32px;padding-top: 3px; width:auto !important;  } 
.profile-row-inside .row{ padding-bottom:6px; }
.profile-row-inside .col-md-3{width: 20%;}
.profile-row-inside .list{ width:70px;}
.profile-row-inside .list2{  position:relative;}
.m-show{ display:none;}
.profile-row .profile-row-inside .buttons-row{ padding-left:0;}
.profile-row-inside .list.list-width2{ width:217px;}
.edit-text{ color:#343434; font-size:11px; font-family: 'Poppins', sans-serif; font-weight:bold; line-height:27px; }
.pay-tagline.checkcol{ color:#808080; font-size:11px; width:100%;   }
.pay-tagline.checkcol input[type=checkbox].css-checkbox+label.css-label{ width:106px; background-position:right 0px; font-family: 'Poppins', sans-serif; font-weight:bold; padding-top:2px; font-size:11px; margin-left:22px; }
.pay-tagline.checkcol input[type=checkbox].css-checkbox:checked+label.css-label{  background-position:right -23px; }
.greeting .file-input{ margin-top:0; }
.greeting .file-input strong{float: right;background: #2dc6d6;margin: 0 -84px 0 0px;width: 74px;height: 28px;font-size: 12px;}