@media (min-width: 1024px){
.usermenu .dropdown-menu{ left:auto; right:0; padding:0;border:none;border-radius:0; display:none; background-color:transparent;box-shadow:none;min-width:auto;}

}

@media (max-width: 1023px) and (min-width: 720px){
#content,.container{ width:100%; }
.usermenu .dropdown-menu{ display:block; }
.usermenu .dropdown-menu>li{ margin-bottom:3px; }	
.usermenu .dropdown-menu>li>a{color:#fff; font-size:12px; text-align:right; padding:0; }
.usermenu .dropdown-menu>li>a:hover,.usermenu .dropdown-menu>li>a:focus{background-color:transparent; }
.usermenu .dropdown-menu{background-color:transparent;box-shadow:none;min-width:auto;}
.login-content{padding-top:42px; padding-bottom:75px;}
.title{ border:none;}
.login-content .control-label{ text-align:right; line-height:29px; }
#header .container, #footer .container{  padding:0 25px; }
#footer p br{ display:none;}
.side-btns{top:195px;}
.inside-content{padding: 58px 35px;}
.left-col{width:20%;}
.right-col{width:79%;}
.checkcol,.date,.audio,.duration,.inbox-table .message-text{width:auto;}
.action-col span{ width:50%; float:left; text-align:center; height:25px;  }
.action-col span a{ display:inline-block; float:none; margin:0px;  }
.action-col{  width: 65px; }
.header-right{ width:60%; }
.menu ul li{ float:none; display:block; margin:0px; padding:0px; text-align:right; }
.menu ul li:after{ display:none; }
.info-menu li{ margin-right:30px; }
.first-menu{ margin-top:5px; }
.pagination-in .number{ line-height:38px;}
.pagination-in a.prev, .pagination-in a.next{font-size:23px;}
.right-col .help{ right:32px; }
.search{ width:190px; }
.inbox-table.contacts .action-col{width: 78px}
.inbox-table.contacts td .action-col a{margin-right: 5px;}
.custom-col {width: 30.3%;}
.error{width:80px; position:absolute;}
.title2 span.number{ font-size:20px; }
.profile-row-inside .col-md-3{width: 29%;float: left;}
.profile-row-inside .col-md-6{ float:left; }
}

@media (max-width: 719px) and (min-width: 320px){
#content,.container{ width:100%; }
.usermenu .dropdown-menu{ display:block; }
.usermenu button{ display:block; }
.usermenu .dropdown-menu{ left:auto; right:0; padding:0; border:none; border-radius:0; display:block;   }
.usermenu .dropdown-menu>li{border-bottom: #f4f4f4 solid 1px;}
.usermenu .dropdown-menu>li:last-child{border:none;}
.usermenu .dropdown-menu>li>a{ padding:10px 10px; }
.usermenu .dropdown-menu>li>a:focus, .usermenu .dropdown-menu>li>a:hover{ background-color:#1c252c; color:#fff; }
.usermenu .dropdown-menu{ display:none; }
.usermenu.open .dropdown-menu{ display:block; }
.side-btns{display:none; }
#header{padding:15px 0;height: auto;}
#logo img{ width:155px; height:auto; }
.usermenu{ margin-top:6px; }
.title span{ display:block;}
.logged-out{ text-align:left; border:none; font-size:16px; font-weight:600; }
.logged-out:hover,.logged-out:focus{ background-color:transparent; color:#db28a5; }
.login-content{padding-top:23px; padding-bottom:65px; width:100%; padding-left: 33px; padding-right: 33px;  }
.login-content .form-horizontal{ padding:0; }
.login-content .control-label{ display:none;}
.login-content .form-control,.custom-control{background-color:#fff;border:#fff solid 1px;height:43px;border:#b7b7b7 solid 1px;font-size:16px;border-radius:0px;font-weight: bold;font-family: 'Montserrat', sans-serif;padding: 0 20px;}
.login-content .form-control::-webkit-input-placeholder ,.custom-control::-webkit-input-placeholder { color:#a9a9a9; }
.login-content .form-control:-moz-placeholder,.custom-control::-moz-input-placeholder { color:#a9a9a9; }
.login-content .form-control:-ms-input-placeholder,.custom-control::-ms-input-placeholder{ color:#a9a9a9; }
.login-content .voicemail{font-size:16px;font-weight:600;padding-bottom: 15px;padding-top: 5px;}
.login-content .btn{ font-size:16px; font-weight:600; }
.login-content .btn.pin-btn{ background-color:#c2c2c2; }
.col{ width:100%; margin:0; }
#header .container, #footer .container{  padding:0 33px; }
.title{border:none;padding-bottom:0px;margin-bottom: 0;}
.title span{ padding-bottom:15px;}
#footer p br{ display:none;}
.login-content .btn{ margin-right:6px; }
.inside-content{ padding:0; }
.left-col{width:100%;}
.left-col .message{border-radius:0;text-align:center;padding: 0;}
.left-col .message ul li a i.fa{ display:none;}
.left-col .message h6{font-size:18px;border-bottom: #fff solid 1px;margin-bottom: 0;padding: 22px 0;}
.left-col .message ul li a,.left-col .add-folder{font-size:16px;padding: 10px 0;display: block;}
.left-col .message ul li{border-color: #fff;margin: 0px;padding: 0px;display: block;}
.right-col{ width:100%;  }
.inbox-table{ display:none;}
.right-col{ position:static; }
.right-col .custon-btn{border-radius:0px;display:block;float: none;margin-bottom: 1px;height: auto;padding: 13px 0;font-size: 16px;margin-right:0px;}
.right-col .title2{ display:none;}
.mobile-title{display:block;padding: 15px 35px;margin:0px;}
.right-col .help{right:36px;top: 15px;}
.left-col .add-folder{ border-bottom:#fff solid 1px;}
.left-col .add-folder i.fa{ font-size:10px; color:#808080; }
.left-col .add-folder span{padding-left: 16px;}
.left-col .add-folder span:before{position: absolute;padding-top: 6px;left: 0px;color: #808080;}
.header-right{padding-top: 5px;}
.info-menu{}
.header-right,.info-menu{ width:100%; float:left;}
.info-menu ul li{float:none; display:block; margin:0px; margin-bottom:30px; font-size:16px; }
.info-menu ul li:last-child{ margin-bottom:0px;} 
.first-menu{ margin-bottom:35px; }
.second-menu{ margin-top:35px;  }
.menu{float: none;text-align:center;margin-left: -33px;margin-right: -33px;clear: both;} 
.menu ul li{ float:none; display:block; margin:0px; padding:0px; border-top:#fff solid 1px; }
.menu ul li:last-child{border-bottom:#fff solid 1px; }
.menu ul li a{display:inline-block; padding:10px 0px; font-size:16px; font-weight:500;  }
.menu ul li:after{ display:none; }
.second-menu{display:block;margin-bottom:-15px;padding-top: 35px;}
.menu.second-menu ul li:last-child{ border-bottom:none;}
.info-menu li.message a span{background-image:url(../images/envelope-m.png);width: 48px;height: 35px;}
.info-menu li.message a:hover span,.info-menu li.active.message span {background-position: 0 -35px;}
.info-menu li.setting a span{background-image:url(../images/setting-m.png);width: 48px;height: 36px;}
.info-menu li.setting a:hover span,.info-menu li.active.setting span {background-position: 0px -37px;}
.info-menu li.contact a span{background-image:url(../images/contact-m.png);width: 41px;height: 44px;}
.info-menu li.contact a:hover span,.info-menu li.active.contact span {background-position: 0px -44px;}
.mobile-view{ display:block;}
.inbox-pagination{text-align:center;font-size:16px;font-weight:400;line-height: 50px;padding-top: 32px;padding-bottom: 15px;}
.pagination-in{ float:none; display:inline-block; }
.pagination-in a.prev, .pagination-in a.next{  font-size:50px;}
.pagination-in .number{line-height:50px;padding:0 25px;}
.header-right{ display:none;}
.menu-btn{ display:block;} 
.search{display:none;}
.custom-popup .modal-dialog{ width:100%;  background-color:#f8f8f8; margin:0 auto;  }
.custom-popup .modal-content{  background-color:#f8f8f8; border-radius:0px;  }
.modal-open .custom-popup.modal{ padding-right:0 !important; }
.control-label.custom-label{ display:none;}
.custom-popup .close{color:#1c252c;font-size:40px;position: absolute;top: 25px;right: 37px;}
.custom-popup .modal-content{padding: 60px 37px 150px;}
.custom-popup .modal-footer{ text-align:center; }
.custom-popup .modal-footer .custon-btn{ font-size:16px; }
.file-input{ width:228px;}
.custom-popup .modal-body{ display:none; }
.custom-popup .modal-body.m-popup-content{ display:block;}
.m-hide,.right-col .profile-row h2.title2.m-hide,.right-col .custon-btn.m-hide{ display:none;}
.m-show{ display:block;}
.right-col .profile-row h2.title2{display:block;padding-left: 15px;margin-bottom: 20px;}
.control-label.custom-label.v-mobile{display:block;margin-left: 15px;}
.profile-row .buttons-row{text-align:center;margin-top: 20px;}
.right-col .profile-row .buttons-row .custon-btn,.profile-row .buttons a,.right-col .profile-row .custon-btn{display:inline-block;border-radius:5px;padding: 9px 15px 8px;}
.list .custom-control{width:130px;height:27px;border-radius:6px;background-color: #dbdbdb;font-size:16px;font-weight: 600;font-family: 'Poppins', sans-serif;line-height: 18px;color: #808080;border:none;padding: 0 10px;}
.list{ width:130px;} 
.control-label.custom-label{ color:#a9a9a9;font-size:16px;   }
.profile h2{ border:none;  padding-bottom:0px; }
.profile{padding: 20px 25px;box-sizing: border-box;overflow: hidden;}
.profile-row{position:relative;padding-bottom:40px;margin-bottom:40px;width: 100%;float: left;}
.profile-row:after{ content:""; border-bottom:#d5d5d5 solid 1px; position:absolute; bottom:0px; left:15px; right:15px;  }
.control-label.custom-label.v-mobile.email-l{ width:100%; float:left;  }
.profile-row .buttons{width:100%;float:left;text-align:center;margin: 0;padding-top: 20px;}
.profile-row-inside{ padding-left:15px; } 
.profile-row-inside label.css-label{ color:#808080; font-size:16px;   }
.profile-row-inside label.css-label{ background-image: url(../images/checkbox-m2.png); }
.profile-row-inside input[type=checkbox].css-checkbox+label.css-label{height: 44px;padding-left: 58px;}
.profile-row-inside input[type=checkbox].css-checkbox:checked+label.css-label{background-position: 0 -44px;}
.profile-row-inside .row{ padding-bottom:0px; }
.profile-row-inside input[type=checkbox].css-checkbox+label.css-label{margin-bottom:15px;padding-top: 1px;line-height: 22px;}
.profile-row-inside .control-label.custom-label.v-mobile{margin-left:0px;padding-left: 0;}
.profile-row-inside .list{ width:100%; }
.profile-row-inside .list .custom-control{ width:100%; }
.profile-row-inside .col-md-3{ width:100%; }
.list-width{ width:76px !important; }
.list-width2{ width:169px !important; }
.error{ display:none;}
.control-label.custom-label.v-mobile.lable2{margin: 0;line-height: 47px;}
.hrgap{width:95%; margin-left:15px; }
.custom-col{width: 50%;float: left;}
.edit-profile .control-label.custom-label{display:block;width:100%;margin:0px;padding-left: 15px;line-height: 20px !important;padding-bottom: 0;}
.edit-text{font-size:16px;}
.edit-profile .control-label.custom-label.padding-b{ margin-bottom:20px; }
.edit-profile .control-label.custom-label.padding-b2{ margin-bottom:12px; }
.edit-profile .control-label.custom-label.width2{width: auto;padding-right: 20px;line-height: 34px !important;}
.pay-tagline.checkcol input[type=checkbox].css-checkbox+label.css-label{background-position: left 0px;background-image: url(../images/checkbox-m3.png);height: 44px;padding-left: 58px;color: #808080;font-size: 16px;width: 100%;padding-top: 10px;}
.pay-tagline.checkcol input[type=checkbox].css-checkbox:checked+label.css-label{background-position:left -44px;}
.greeting .file-input{ clear:both; }
.dispaly-none{ display:none !important; }
.greeting .file-input strong{ display:none;}
}

 